/* Colors: 
#F15412
#000000
#34B3F1
#EEEEEE */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    background-color: #eeeeee;
    font-family: Poppins;
    color: #212121;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-bottom: 1rem;
    marging-top: 1rem;
    background-color: white;
    border-radius: 5rem;
    padding: 1rem 2rem;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    color: #212121;
}

.page-name {
    text-decoration: none;
    color: #212121;
    font-size: larger;
    transition: ease-in-out .2s;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.about-btn, .resume-btn {
    cursor: pointer;
    color: white;
    background-color: #212121;
    font-weight: 700;
    border: 1px solid #212121;
    border-radius: 10rem;
    padding: .5rem 1rem;
    margin-left: .5rem;
    transition: ease-in-out 0.2s;
}

.about-btn:hover, .resume-btn:hover {
    font-weight: bold;
    color: black;
    background-color: transparent;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212121;
    padding-top: 25%;
    transition: 0.5s;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main {
    margin-left: 17.5%;
    margin-right: 17.5%;
    padding-top: 3rem;
    background-color: transparent;
    height: 50%;
    border-radius: 1rem;
}


.hero-headline {
    font-size: larger;
    font-weight: 600;
    transition: ease-in-out .2s;
}

.tag {
    /* cursor: pointer; */
    text-decoration: none;
    color: black;
    margin-bottom: .5rem;
    border: solid .1rem black;
    border-radius: 1rem;
    padding: .3rem .75rem;
}

/* Tag Section */
.tag {
    border: none;
}

#fullstack-web-developer {
    background-color: #00b5fd6e;
    transition: ease-in-out .2s;
}

#fullstack-web-developer:hover{
    background-color: #34B3F1;
}

#startups {
    background-color: #9046ff88;
}
#startups:hover {
    background-color: #9146FF;
}

#product-management {
    background-color: #34f15d7a;
}

#product-management:hover {
    background-color: #34f15d;
}

#gaming-enthusiast {
    background-color: #f1551277;
}

#gaming-enthusiast:hover {
    background-color: #f15512;
}

.contact-btn {
    cursor: pointer;
    color: white;
    background-color: #212121;
    border: none;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .75rem 1rem;
    font-size: larger;
    font-weight: bold;
    transition: ease-in-out 0.2s;
}

.contact-btn:hover {
    color: black;
    background-color: transparent;
    border: .125rem solid black;
}

.case-study-section {
    background-color: white;
    height: 15rem;
    margin-bottom: 2rem;
    padding-top: .5rem;
    padding-left: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: left;
    transition: ease-in-out .2s;
}


/* Phones/Mobile media query */
@media only screen and (max-width: 700px) {
    #btn {
        font-size: smaller;
    }

    .page-name {
        font-size: .75rem;
    }

    #section-title {
        font-size: medium;
    }

    .hero-headline {
        font-size: medium;
    }

    .about-btn, .resume-btn {
        font-size: small;
    }
}


